:root {
    --background: #292d3e;
    --foreground: #959dcb; 
    --comment: #676e95;
    --accent: #c3e88d;
    --redish: #ff5370;
    --orangish: #f78c6c;
    --yellowish: #ffcb6b;
    --greenish: #c3e88d;
    --bluish: #82aaff;
    --purplish: #c792ea;


}

body {

    background-color: var(--yellowish);
    color: var(--foreground);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Heebo', sans-serif;
}

.title {
    margin: 0.5em;
    font-size: 4em;
    font-weight: bold;
    letter-spacing: 0.05em;
    color: var(--comment);
}

.newGroceryForm {
    display: flex;
}
#newGrocery {
    background-color: white;
    color: var(--comment);
    padding: 0.1em;
    width: 15em;
    font-size: 2.0em;
    border-radius: 0.25em 0 0 0.25em;
}

#addBtn {
    background-color: var(--redish);
    color: var(--background);
    padding: 0.1em;
    font-size: 2.0em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0 0.25em 0.25em 0;
}

#addBtn:hover {
    background-color: var(--greenish) ;
}

#groceryList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    border-radius: 0.5em;
    background-color: var(--comment);

}

.groceryItem {
    background-color: white;
    color: var(--background);
    margin : 0.5em;
    width: 24em;
    padding: 0.5em;
    border-radius: 0.25em;
    text-align: center;

}

.groceryItem:hover {
    background-color: var(--purplish);
    font-weight: bold;
}